@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.80px;
}

:root {
    --bg-color: #000000;
    --primary-color: #00bfffcc;
    --secundary-color: #ffffff20;
    --text-color: #ffffffcc;
    --hiden-color: #00000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    word-break: keep-all;
}

header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 20px 30px 20px 30px;
    border-bottom: thick double var(--secundary-color);
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    font-style: oblique;
}

#logo-1 {
    display: flex;
    gap: 10px;
    align-items: center;

}

#logo h1 {
    font-weight: 900;
}

#logo p {
    font-weight: lighter;
}

#logo-1 img {
    width: 30px;
}

#cepname {
    color: var(--primary-color);
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px 20px 30px;
    gap: 28px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

main span {
    font-weight: lighter;
}

#search-bar {
    display: flex;
    width: 250px;
    height: 30px;
    position: relative;
    align-items: center;
    justify-content: right;
}

.search-input {
    color: var(--primary-color);
    background-color: var(--secundary-color);
    padding-left: 16px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
}

#search-button {
    display: flex;
    align-items: center;
    background-color: var(--hiden-color);
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    border: none;
    padding-right: 16px;
    position: absolute;
    cursor: pointer;
}

#search-button img {
    width: 25px;
}


#card {
    position: relative;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 80vw;
    height: 400px;
    border: thick double var(--secundary-color);
    border-radius: 10px;
}

#card dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#card dt{
    margin-left: 4px;
    color: var(--primary-color);
}

#card dd{
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: 0.92rem;
    font-weight: lighter;
    margin-bottom: 5px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--secundary-color);
}

#doc-btn{
    display: flex;
    gap: 14px;
    top: -16px;
    right: 0;
    margin-right: 20px;
    position: absolute;
}

#doc-btn a{
    background-color: var(--primary-color);
    padding: 2px 18px;
    border-radius: 1px 100px / 120px;
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 1300px) {
    header {
        flex-direction: column;
    }
}